#card{
    height:60vh;
  
}
#card2{
    background-image: linear-gradient(to right,rgb(114,90,194),rgb(234,148,216));
    border:1px whitesmoke black;
}
#link{
    margin-top: 60% ;
}
#line{
    margin-top: 15%;
}